.main-wrapper {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  gap: 10px;
}

.calendar-wrapper {
  position: sticky;
  top: 20px;
  margin: 20px auto;
  width: 700px;
  height: 540px;
  display: grid;
  justify-content: center;
  border: 2px solid pink;
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  z-index: 10;
}

#title {
  margin-bottom: 30px;
}

#calendar {
  position: relative;
}
.calendar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.744);
  z-index: 1;
  display: grid;
  place-items: center;
  color: white;
  font-size: 20px;
  border-radius: 6px;
}

.calender-head {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.table-calendar {
  min-height: 360px;
}

#calendar tr {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar td, #calendar th {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  display: grid;
  place-items: center;
  height: 50px;
  width: 90px;
  user-select: none;
}

#calendar th {
  background-color: rgb(44, 44, 47);
  color: white;
}

#calendar td {
  cursor: pointer;
  transition: 90ms;
}
@media (hover) {
  #calendar td:hover {
    filter: brightness(0.9);
    transform: scale(1.02);
    font-size: 1.4rem;
  }
}


.thisMonth {
  background-color: rgb(55, 128, 151);
  color: white;
}

.notThisMonth {
  background-color: rgba(171, 171, 171, 0.24);
  color: grey
}

.unSelectable {
  user-select: none;
  pointer-events: none;
  filter:grayscale(100%) opacity(0.5);
}
.reserved {
  background-color: rgb(60, 153, 97);
  color: white;
}
.reservedOdd {
  background-color: rgb(50, 113, 75);
  color: white;
}

.selected {
  background-color: rgb(126, 29, 133);
  color: white;
}

.table-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-buttons div {
  display: grid;
  grid-auto-flow: column;
  gap:2px,
}

.table-buttons button {
  border: none;
  color:white;
  background-color: rgb(44, 44, 47);
  width: 90px;
  height: 30px;
  border-radius: 8px;
  cursor:pointer;
  transition: 80ms;
}
@media (hover) {
  .table-buttons button:hover {
    filter: brightness(1.5);
    transform: scale(1.05);
  }
}

.table-wrapper {
  position: relative;
  margin: 20px auto;
  border: 2px solid pink;
  border-radius: 6px;
  padding: 10px;
  width: 730px;
}
#requests-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgb(167, 167, 167);
}


.table-overlay {
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.744);
  color: white;
  font-size: 3rem;

}
.tableLoading {
  user-select: none;
  pointer-events: none;
  color: grey;
}

.table-categories {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

#requests-table > tr:not(:first-of-type) {
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: rgba(47, 47, 47, 0.737);
    color: white;
  }
}

#requests-table td, #requests-table th {
  border: 1px solid rgb(167, 167, 167);

  padding: 5px;
  height: 50px;
}

#requests-table td:first-child, #requests-table th:first-child {
  border-left: none;
}
#requests-table tr:last-child {
  border-bottom: none;
}

.orderButton {
  border: none;
  background-color: rgb(44, 44, 47);
  padding: 2px 5px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 80ms;
  margin-right: 5px;
  &:hover {
    filter: brightness(1.5);
    transform: scale(1.05);
  }
}

.selectedFromCalendar {
  background-color: rgba(40, 40, 40, 0.71);
  color: white;
}

.selectedFromTable {
  border: 6px solid rgb(44, 44, 44)!important;
}

.order-row-td {
  cursor: pointer;
  transition: 70ms;
  &:hover {
    background-color: rgb(200, 200, 200);
    font-size: 1.1rem;
  }
}
.hidden {
  display: none;

}

.status {
  text-align: center;
  padding: 0!important;
  cursor:default;
}

.status select, .status button {
  border-radius: 4px;
  border: none;
  background-color: rgb(87, 87, 114);
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: 80ms;
  padding: 4px 5px;
  &:hover {
    filter: brightness(1.02);
    transform: scale(1.08);
  }
}

.status select {
  margin-right: 5px;
}

.statusPending select { background-color: rgb(55, 128, 151) }
.statusReserved select { background-color: rgb(60, 153, 97) }
.statusRejected select { background-color: rgb(133, 48, 29) }
.statusArchived select { background-color: rgb(184, 143, 102) }

.row-overlay {
  display: grid;
  grid-template-columns: 1fr 15%;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  background-color: rgba(45, 45, 45, 0.958);
  top: 0;
  left: 0;
  font-size: 1.2rem;
}


@media screen and (max-width: 1450px) {
  .main-wrapper {
    grid-auto-flow: row;
    gap: 0;
    width: 100%;
  }
  .calendar-wrapper {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    top: 0;

  }
  .table-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .table-buttons button {
    font-size: 0.7rem;
    width: 70px;
  }
  .table-calendar {
    min-height: 230px;
  }

  #calendar td, #calendar td, th {
    width: auto;
    height: 30px;
  }
}
  
@media screen and (max-width: 720px) {
  #calendar td, #calendar th {
    font-size: 0.7rem;
    height: 25px;
    width: 45px;
  }
  .table-calendar {
    min-height: 180px;
  }
  .calendar-wrapper {
    height: 360px;
  }
  #requests-table, #requests-table select, #requests-table button {
    font-size: 0.6rem;
  }
  #requests-table select {
    width: 50px;
  }
  .orderButton {
    font-size: 0.6rem;
    height: 25px;
  }
}

