<div class="calendar-wrapper">

  <h1 id="title">Booking Manager</h1>

  <div class="calender-head">
    <h2>{{ (currentMonth$ | async)!.toLocaleString('en-GB',{month:"long"}) }}</h2>
    <h2>{{ (currentMonth$ | async)!.getFullYear() }}</h2>
  </div>

  <table id="calendar">

    <div *ngIf="(isLoadingReserved$ | async) || (reservedError$ | async)" class="calendar-overlay">
      <h2 *ngIf="(isLoadingReserved$ | async)"  >Loading ...</h2>
      <h2 *ngIf="(reservedError$ | async)" >Something went Wrong</h2>
    </div>

    <div class="table-calendar">
      <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
  
      <tr> <!-- one day on the calendar -->
        <td *ngFor="let day of (daysInTheMonth$ | async)"
        (click)="selectFromCalendar(day)"
        [ngClass]="{
          'thisMonth':(currentMonth$ | async)!.getMonth() === day.getMonth(),
          'notThisMonth':(currentMonth$ | async)!.getMonth() != day.getMonth(),
          'reserved': isReservedDate(day) === 'even',
          'reservedOdd': isReservedDate(day) === 'odd',
          'selected': isSelectedFromCalendar(day),
          'selectedFromTable': isSelectedFromTable(day.toLocaleDateString())
        }"
        >
          {{ day.toLocaleString('en-GB',{day:"numeric"}) }}
        </td>
      </tr>
    </div>

    <div class="calendar-buttons">
      <div>
        <button (click)="resetDate()">reset date</button>
      </div>
      <div>
        <button (click)="prevMonth()">prev month</button>
        <button (click)="nextMonth()">next month</button>
      </div>
    </div>
  
  </table>
</div>
